html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --scrollcolor: #fff;
  --scrollbackground: #141e27;
}

body {
  margin: 0;
  background-color:blanchedalmond;
}

header nav ul {
  text-align: center;
  color: #fff;
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
}


header .banner {
  background-image: url('https://scontent.ffru8-1.fna.fbcdn.net/v/t39.30808-6/270222258_2142896442525754_7801414909344679986_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=783fdb&_nc_ohc=6JMDWd-CcjgAX_F2ikj&_nc_ht=scontent.ffru8-1.fna&oh=00_AfAcrzCtX0G3XTTyNwSjx3NptNSA7sKmipGwkCQ-Z7jLhw&oe=65E57652');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
  color: #dcdfd8;
}
 .welcome {
  font-size: 100px;
  padding: 50px 50px;
 }
header .welcome { 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

header nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: center;
  padding: 20px 0;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

header a {
  padding: 10px 20px;
}
/* ///////////////////////////// */
.menu {
  color: black;
  background-color: #303d39;
  display: flex;
  align-items: center;
}

.min {
  font-size: 20px;
  background-color: #cbd5d2;
  padding: 30px 80px;
  font-size: 40px 50px;
}
/* ///////////////// */

.menu .website a {
  font-size: 27px;

}

.banner {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;    
}

.welcome {
  display: 100px;
}

section {
  padding: 20px;
  margin-bottom: 30px;
}

section h2 {
  color: #333;
}

#about h2{
  text-align: center;
}

.main {
  font-size: 50px;
  
}

.ree {
  font-size: 40px;
}
#attractions h2{
  text-align: center;
}
.err {
  font-size: 40px;
}

#activities {
  text-align: center;
  }
/* зарегистрироваться */

.bn632-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn22 {
  background-image: linear-gradient(
    to right,
    #959b99,
    #778782,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

/* Карты для информации */


.title {
  font-size: 2.5rem;
  font-family: system-ui;
  line-height: 1.1;
  font-weight: 300;
  color: #fff;
  margin: 4rem auto 1rem;
  width: 85%;
  max-width: 1280px;
}

.slider {
  width: 110%;
  max-width: 1280px;
  margin: 0 auto;

}

.slider__content {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  scrollbar-color: var(--scrollcolor) var(--scrollbackground);

}

.slider__content::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 1rem;
  background: var(--scrollbackground);
}

.slider__content::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: var(--scrollcolor);
}

.slider__content::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: var(--scrollbackground);
}

.slider__item {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 100%;
  width: 100%;
  border-radius: 0.25rem;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1;
}

@media (min-width: 460px) {
  .slider__item {
    aspect-ratio: 0.6666666667;
    min-width: calc((100% / 2) - 2rem);
 }
}

@media (min-width: 940px) {
  .slider__item {
    min-width: calc((100% / 3) - 4rem);
 }
}

.slider__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.slider__info {
  position: relative;
  padding: 4rem 2rem 2rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(32, 50, 57, 0));
}

.slider__info h2 {
  color: #fff;
  font-family: system-ui;
  line-height: 1.1;
  font-weight: 300;
  font-size: 1.75rem;
  margin: 0;
}

.slider__nav {
  margin: 1rem 0 4rem;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-content: center;
  align-items: center;
  pointer-events: none;
}

@media (min-width: 460px) {
  .slider__nav {
    justify-content: flex-end;
 }
}

.slider__nav__button {
  margin: 0;
  appearance: none;
  border: 0;
  border-radius: 2rem;
  background: #fff;
  color: #203239;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  line-height: 1;
  pointer-events: none;
  transition: 0.2s ease-out;
  opacity: 0.25;
}

.slider__nav__button--active {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}

header .iii {
  font-size: 70px;
}
